*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//background-color: #333; color: #eee;
html, body { height: 100%;  font-size: 14px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
